/* =========================================
   EDITAR USUARIO
   PASTELERÍA MIL SABORES
========================================= */

/* PRESENTACIÓN */

#editar-usuario-presentacion h2 {
    margin: 0 0 8px;

}

/* VOLVER */

#boton-volver {

    padding: 11px 17px;

    font-size: 14px;

}

/* BOTONES */

#boton-cancelar {

    justify-content: center;

}

/* USUARIO NO ENCONTRADO */

#mensaje-usuario-no-encontrado a {

    margin-top: 10px;

}
