

/* PRESENTACIÓN */

#nuevo-producto-presentacion p {
    line-height: 1.5;
}

/* VOLVER*/
#volver-productos {
    justify-content: center;
    padding: 11px 16px;
    font-size: 13px;
    white-space: nowrap;
    transition: 0.2s;
}

/* FORMULARIO*/
#formulario-nuevo-producto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
    padding: 30px;
}

/* CAMPOS*/

.campo-formulario label {
    margin-bottom: 8px;
    font-size: 14px;
}

.campo-formulario input,
.campo-formulario select,
.campo-formulario textarea {
    padding: 12px 14px;
}

/* TEXTAREA*/
.campo-formulario textarea {
    min-height: 130px;
}

/* CAMPOS COMPLETOS*/
.campo-completo {
    grid-column: 1 / 3;
}

/* ERRORES*/
.mensaje-error {
    min-height: 15px;
}

/* MENSAJE GENERAL */
#mensaje-producto {
    grid-column: 1 / 3;
    margin: 0;
}

/* ACCIONES*/
#acciones-formulario {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 5px;
}

/* GUARDAR */
#guardar-producto {
    justify-content: center;
    min-height: 42px;
    padding: 10px 17px;
    font-size: 13px;
    transition: 0.2s;
}

/* CANCELAR */
#acciones-formulario a {
    justify-content: center;
    min-height: 42px;
    padding: 10px 17px;
    font-size: 13px;
    transition: 0.2s;
}

@media(max-width: 700px) {
    #formulario-nuevo-producto {
        grid-template-columns: 1fr;

        padding: 22px;
    }

    .campo-completo {
        grid-column: 1;
    }

    #mensaje-producto {
        grid-column: 1;
    }

    #acciones-formulario {
        grid-column: 1;
        flex-direction: column;
        align-items: stretch;
    }

    #guardar-producto,
    #acciones-formulario a {
        width: 100%;
    }
    #volver-productos {
        width: 100%;
    }
}
