/* =========================================
   NUEVO USUARIO
   PASTELERÍA MIL SABORES
========================================= */

/* PRESENTACIÓN */

#nuevo-usuario-presentacion h2 {
    margin: 0 0 8px;

}

/* VOLVER */

#boton-volver {

    padding: 11px 17px;

    font-size: 14px;

}

/* CAMPOS */

.campo-formulario input::placeholder {
    color: #A89C95;
}

/* ACCIONES */

#boton-cancelar {

    justify-content: center;

}
