/* CONTENEDOR PRINCIPAL */

#catalogo-completo {
    max-width: 1200px;

    margin: 40px auto;

    padding: 0px 20px;
}

/* TÍTULO */

#catalogo-completo h2 {
    color: var(--color-secundario);

    font-size: 32px;

    text-align: center;

    margin-bottom: 10px;
}

/* DESCRIPCIÓN */

#catalogo-completo>p {
    color: #8B5E3C;

    text-align: center;

    font-size: 16px;

    margin-top: 0px;

    margin-bottom: 30px;
}

/* CATEGORÍAS */

#categorias {
    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 10px;

    margin-bottom: 30px;
}

#categorias a {
    background-color: var(--color-fondo);

    color: var(--color-secundario);

    text-decoration: none;

    padding: 10px 20px;

    border-style: solid;

    border-color: #FFC0CB;

    border-radius: var(--radio-base);

    font-weight: bold;
}

#categorias a:hover {
    background-color: var(--color-marca);

    color: var(--color-blanco);

    border-color: var(--color-marca);
}

#categorias .categoria-activa {
    background-color: var(--color-principal);

    color: var(--color-blanco);

    border-color: var(--color-principal);
}

/* PRODUCTOS */

#productos-completos {
    display: grid;

    grid-template-columns: 1fr;

    gap: 20px;
}

/* TARJETA PRODUCTO */

.producto-completo {

    text-align: center;
}

/* IMAGEN */

.producto-completo img {

    height: 220px;

    object-fit: cover;

}

/* PRECIO */

.producto-completo p {
    color: var(--color-acento);

    font-size: 18px;

    font-weight: bold;

    margin-top: 5px;

    margin-bottom: 12px;
}

/* ACCIONES */

.acciones-producto {
    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 10px;

    margin-top: 10px;
}

/* BOTÓN AÑADIR */

.acciones-producto button {

    border-style: none;

    border-radius: 6px;

    padding: 9px 15px;

    font-size: 14px;

    font-weight: bold;

    cursor: pointer;
}

/* BOTÓN VER DETALLE */

.acciones-producto a {
    background-color: var(--color-marca);

    color: var(--color-blanco);

    text-decoration: none;

    border-radius: 6px;

    padding: 9px 15px;

    font-size: 14px;

    font-weight: bold;
}

/* TABLET */

@media(min-width:760px) {

    #productos-completos {
        grid-template-columns: 1fr 1fr;
    }

}

/* COMPUTADOR */

@media(min-width:1024px) {

    #productos-completos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}